* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: Raleway;
}
a {
	text-decoration: none;
	color: #eee;
	transition: all 0.4s ease-in-out;
}

.container {
	width:   100%-13rem;
	max-width:   140rem;
	height:         80%;
	margin:      0 auto;
	text-align:    left;
}
.elevator {
	width:   100%-13rem !important;
	max-width: 10000rem !important;
	margin: 2rem 6.5rem !important;
}
.container p {
	padding-top: 1.5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.elevator-image img {
	/*height: 557px;
	width:  449px;*/
	height: 85%;
	width:  auto;
	position: absolute;
	bottom: 0px;
}
.circular {
	position: static !important;
	border-radius: 50%;
	box-shadow: 2px 2px 9px black;
	height: 350px;
	width: 350px;
	top: 20% !important;
}

.elevator-text p {
	margin-left:  65vh;
	margin-right:  4rem;
	margin-top:   -10px;
	margin-bottom: 10px;
	font-size:   1.7vw;
	color:        white;
	text-shadow: 1px 1px 3px black;
}
.elevator-text span {
	color: #E00122;
	text-shadow: 2px 2px 4px black;
}
.quote {
	font-family: 'Baloo';
	margin-top: -10px    !important;
	margin-bottom: -25px !important;
	color: #E00122       !important;
	font-size: 60px      !important;
	text-shadow: 3px 3px 5px black ;
	text-align: left;
}
.last { text-align: right; }

.Mobile { display: none; }
.icons  { display: none; }

.transition2 {
	background: linear-gradient(to bottom, #E00122, white);

	grid-row: 1/8;
	grid-column: 1/5;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 10fr 10fr 1fr;
	grid-auto-rows: auto;
	grid-gap: 4rem;
}
#about-Me {
	grid-row:    1/2;
	grid-column: 2/4;
}
.first {
	grid-row:    2/3;
	grid-column: 2/3;
}
.second {
	grid-row:    2/3;
	grid-column: 3/4;
}

#experience {
	grid-row:    3/4;
	grid-column: 2/4;
}
.third {
	grid-row:    4/5;
	grid-column: 2/3;
}
.fourth {
	grid-row:    4/5;
	grid-column: 3/4;
}

.grid-item {
	float:             left;
  	padding:       10px 4vw;
	background: linear-gradient(to bottom, rgba(120,120,120,1), rgba(120,120,120,0.5));
	box-shadow: 3px 3px 8px gray;
}
.grid-icon{
	width:       150px;
	height:      150px;
	margin:  30px auto;
	border-radius: 50%;
	box-shadow: 0px 0px 5px black;

	background-color: white;
	background-repeat: no-repeat;
	background-size: 86px;
	background-position: center;
}
.school      { background-image: url("../Img/icons/school2.svg"     ); }
.interests   { background-image: url("../Img/icons/interests2.svg"  ); }

.grid-main-header {
	margin-top: 10px;
	text-align: center;
	font-size: 6.5rem;
	font-family: 'Pacifico', cursive;
	color: white;
	border-bottom: 5px solid white;
}
.grid-header  {
	text-align: center;
	padding-bottom: 2rem;
	font-size: 2rem;
	font-family: Raleway;
	color: white;
}
.grid-text {
	text-align: left;
	padding-bottom: 5rem;
	font-size: 3rem;
	font-family: Raleway;
	color: white;
	text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 #000, 1px 1px 0 gray;
}


#footer {
	height: 50px;
	width: 100%;
	background-color: #f0f0f0;
	text-align: center;

	color: rgb(160, 160, 160);
}
.footerText {
	padding-top: 15px;
	font-size: 16px;
}
.footerText a {
	color: #E00122;
}




@keyframes slideIn { 
	from {

	}
	to {
		transform: translateX(0);
	}
 }

